<html>
<title>asset report</title>
	<body>
		<left><a href="{{url_for('dashboard')}}">Return to the dashboard</a></left>
		<h2>Asset Report</h2>
		<p>Wow, such Assets!</p>
			<form action="{{url_for('asset_report')}}" method="POST">
			<input type="txt" name="date" placeholder = MM/DD/YYYY>
			<select required name="facility">
				<option value="All">All</option>
				{% for fac in facilities %}
				<option value={{fac[0]}}> {{ fac[0] }} </option>
				{% endfor %}
			</select><br>
			<input type="submit" value="Report" name="submit" />
		</form>
		<table style="width:100%">
			<tr>
				<th>Asset Tag</ th>
				<th>Description</ th>
				<th>Facility</ th>
			</tr>
			{% for line in report%}
			<tr>
				{% for value in line %}
				<th>{{value}}</ th>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
