<html>
	<head><title>Connected</title>
		<h1>Report Filter</h1>
	</head>
	
<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/report">report</a></li>
      <li><a href="/logout">logout</a></li>
    </ul>
  </div>
</nav>
	<body><p>Select a Report to Generate</p>
	<p> Enter Facility Location </p>
		<form action="{{url_for('facility')}}">
			<input type="text" name="fcName" />
			<input type="submit" name="facility" />
	</form>
		  <p> Inventory in Transit <p/>
	<form action="{{url_for('facility')}}">
		<input type="text" name="tranName" />
		<input type="submit" name="transit" />
	</form>
			
</body>

</html>	

