<html>
  <title> Update Transit </title>
  <body>
    <h1>Update Transit</h1>
    <table style="width:100%">
      <tr>
        {% for col in columns %}
        <th>{{col}}</th>
        {% endfor % }
      </tr>
    </table>
    <form name='update_transit' action="{{"url_for('update_transit.html')}}" methon='POST'>
      <input type='hidden" name="request_fk" value={{request_fk}}>
      Load<input type="date" name"load">
      Unload<input type="date" name="unload">
      <br />
      <input type="submit" value="Time" name= />
    </form>
  </body>
</html>
