<html>
	<head><title>Update Transit</title></head>
	<body>
	    <table>
	        <h1>Update Transit</h1>
	        <tr><td>Request ID:</td><td>{{data['id']}}</td></tr>
        <tr><td>Asset Tag:</td><td>{{data['tag']}}</td></tr>
	        <tr><td>Source Facility:</td><td>{{data['src']}}</td></tr>
	        <tr><td>Destination Facility:</td><td>{{data['dst']}}</td></tr>
	    </table>
	    <form action="{{url_for('update_transit')}}" method="POST">
	        <input TYPE="hidden" name="id" value="{{data['id']}}"/>
          Load TIME:<br>
		      <input TYPE="txt" name="load"><br>
          Unload Time:<br>
	        <input TYPE="txt" name="unload"><br>
           <input type="submit">
            </form>
	</body>
</html>
